.background-img{
    background-image: url('https://i.ibb.co/J2c9CCZ/Blood-Donation-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
}

@media screen and (min-width: 300px) and (max-width: 360px) {
    .background-img{
        height: 556px;
    }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
    .background-img{
        height: 480px;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .background-img{
        height: 380px;
    }
}