.menu li>*:not(ul, .menu-title, details, .btn) {
    height: fit-content;
    padding: 5px 12px;
}

.menu li:hover>*:not(ul, .menu-title, details, .btn) {
    background-color: transparent;
    color: #ea580c;
}

@media (prefers-color-scheme: light) {

    .menu li>*:not(ul, .menu-title, details, .btn):active,
    .menu li>*:not(ul, .menu-title, details, .btn).active,
    .menu li>details>summary:active {
        background-color: rgb(255, 255, 255);
        color: #16a34a;
        font-weight: 600;
        border-bottom: 2px solid #ea580c;
        border-radius: 12px;
    }
}

@media (prefers-color-scheme: dark) {

    .menu li>*:not(ul, .menu-title, details, .btn):active,
    .menu li>*:not(ul, .menu-title, details, .btn).active,
    .menu li>details>summary:active {
        background-color: transparent;
        color: #16a34a;
        font-weight: 600;
        border-bottom: 2px solid #ea580c;
        border-radius: 12px;
    }
}